{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block body %}

    {{ form(custom_form) }}
    {# render the task's only field: description #}

    <h3>Options</h3>
    <ul class="options">
        {# iterate over each existing tag and render its only field: name #}
        {% for option in custom_form.options %}
            <li>{{ form_row(option) }}</li>


        {% endfor %}
    </ul>
    <ul class="tags" data-prototype="{{ form_widget(custom_form.options.vars.prototype)|e('html_attr') }}">
        ...
    </ul>
    {{ form_end(custom_form) }}
{% endblock %}
