{% extends 'base.html.twig' %}

{% block title %}{{ someVariable }}{% endblock %}

{% block body %}
    <div class="nfq-academy">{{ someVariable }}</div>
    <p>Test -> Andrius InÄiura</p>
{% endblock %}
