{% extends 'bundles/EasyAdminBundle/default/layout.html.twig' %}

{% block title %}{{ someVariable }}{% endblock %}

{% block content %}
    <div class="content">
        <section class="content-header">
            <div class="d-flex flex-row justify-content-between align-content-center w-100">
                <div class="content-header-title">
                    <h1 class="title"><b>About</b></h1>
                </div>
                <div class="global-actions"></div>
            </div>
        </section>
        <section id="main" class="content-body">
            {% block main %}
                <div class="nfq-academy">{{ someVariable }}</div>
                <div class="about">
                    <ul>
                        <li>
                            <p>For full experience join slack <a href="https://join.slack.com/t/pulse-testing/signup">
                                    -> HERE <- </a> ( if not working <a
                                        href="https://join.slack.com/t/pulse-testing/shared_invite/enQtODc5NTExNjY5NTExLTY3MjJiMGY1NzI4ZjA1ZWJhMjJhYjU1MjFmMjE1NmVjZmU0MTEzM2ZjYjg1MDBjNGYyNTZlMDg0NzA5OGI3MDE">->
                                    HERE <-</a> )</p>
                        </li>
                        <li>
                            <p>Create new Poll by going to <span class="bold"> Poll -> Manage</span> click <span
                                        class="btn btn-primary">Create Poll</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                Add Poll name:
                                <img src="/img/poll-name.png">
                            </p>
                        </li>
                        <li>
                            <p>
                                Add questions and answer options:
                                <img src="/img/question-option.png">
                            </p>
                        </li>
                        <li>
                            <p>
                                </span> Click <span class="btn btn-primary">Save</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                If you want to send the question only to yourself create Responder by going to <span
                                        class="bold"> Responder -> add </span>, add your slack id and select team lead.
                            </p>
                            <img src="img/responder.png">
                        </li>
                        <li>
                            <p>
                                Send your created questions by going to <span class="bold">Poll -> List</span>, find your
                                Poll click <img
                                        src="/img/dots.png"> and select <span class="bold">Send team</span>, if you did not create responder  select <span class="bold">Send workspace</span>
                            </p>
                        </li>
                        <li>
                            <p>Check slack and answer the question you sent!</p>
                        </li>
                        <li>
                            <p>
                                Check graph of the answers you got, go to <span class="bold">Survey -> List</span>, find
                                your survey and click graph
                            </p>
                        </li>
                        <li>
                            <p>
                                That's it!
                            </p>
                        </li>
                    </ul>
                </div>
            {% endblock %}
        </section>
    </div>
{% endblock content %}
