{% extends 'bundles/EasyAdminBundle/default/layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content">
        <section class="content-header">
            <div class="d-flex flex-row justify-content-between align-content-center w-100">
                <div class="content-header-title">
                    <h1 class="title">Slack channel info</h1>
                </div>
                <div class="global-actions"></div>
            </div>
        </section>
        <section id="main" class="content-body">
            {% block main %}
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <div class="card" style="margin: 20px;">
                        <div class="card-header">
                            <b>
                                {{ form_start(form, { 'attr': {'style': 'background-color: inherit;' } }) }}
                                {{ form_widget(form) }}
                                {{ form_end(form) }}
                            </b>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </section>
    </div>
{% endblock content %}
