// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.nfq-academy {
  margin: 20px auto;
  text-align: center;
  font-size: 70px;
  font-weight: 100;
  font-family: 'Lato', serif;
}
.about{
  margin: 30px;
  ul{
    list-style: none;

    li{
      margin-bottom: 30px;
      margin-top:30px;
      p{
        font-size:20px;
        .bold{
          font-weight: bold;
        }
        .important{
          color:red;
          font-weight: bold;
        }
      }
    }

  }

}
