{% extends 'base.html.twig' %}

{% block title %}New Responder{% endblock %}

{% block body %}
    <h1>Create new Responder</h1>

    {{ include('responder/_form.html.twig') }}

    <a href="{{ path('responder_index') }}">back to list</a>
{% endblock %}
